/* Global styles*/

@import "variables.css";

body {
  font-family: "verdana", serif;
  display: flex;
  color: var(--main-color-blue);
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  background-color:var(--main-color-grey);
}

main {
  animation-name: smooth;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  background-color: white;
}

h1 {
  font-family: "museo-slab", serif;
  font-size: 28pt;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  max-height: 110px;
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
  z-index: 1;
  background-color: #ffffff;
  height: 100px;
}

header img {
  width: 150px;
  text-align: left;
  flex: 1;
}



.logo {
  margin: 10px 25px 10px 25px;
  z-index: 2;
}

footer {
  background-color: var(--main-color-blue);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  max-height: 50px;
  margin-top: auto;
}

img {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.main-page {
  display: grid;
  min-height: 95vh;
  margin-top: 100px;
}

a:hover {
  cursor: pointer;
}


/* Animations - Global */

@keyframes smooth {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Navigation*/

nav {
  font-family: "museo-slab", serif;
  margin: 100px 0px 0px 0px;
  display: none;
  position: fixed;
  top: 0px;
  background: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  
}

nav ul {
  padding: 0px;
  margin-top: 50px;
}

nav li {
  display: block;
  padding: 20px 30px;
  margin: 4px;
}



header label {
  z-index: 2;
}



/* Links and buttons*/

a {
  text-decoration: none;
}

.button {
  font-family: "museo-slab", serif;
  color: black;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 35px 0px 35px;
  border-radius: 20px;
  max-width: 210px;
}

.cta-button {
  font-family: "museo-slab", serif;
  background-color: #ff8e26;
  color: var(--main-color-blue);
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 34px;
  max-width: 210px;
  max-height: 50px;
  border: var(--main-color-blue);
  border-style: solid;
  text-align: center;
}

.cta-button:hover {
  background-color: white;
}

.text-hyperlink {
  font-size: 1.1rem;
  font-weight: bold;
  color: #23778c;
  text-transform: uppercase;
  text-decoration: underline;
}

.jackets-hyperlink {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff8e26;
  text-transform: uppercase;
}

.fa-bars {
  font-size: 28px;
  margin-right: 15px;

}

.fa-shopping-cart {
  color: var(--main-color-blue);
  font-size: 30px;
  margin-right: 20px;
  display: none!;
}

.fa-shopping-cart:hover {
  color: #23778c;
}

.active-icon {
  color: #23778c;
}

.active {
  text-decoration: underline;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cta-button:hover {
  background-color: #ffffff;
  color: var(--main-color-blue);
  cursor: pointer;
}

.amount_of_jackets {
  position: absolute;
  top: 28px;
  right:72px;
  font-size: 11px;
  color: white;
}

/* Home page */

.main-page-content {
  display: grid;
  grid-gap: 10px;
  padding: 10px;

}

.front-section {
  background-image: url(/images/front_image.jpg);
  background-position: right bottom;
  background-size: cover;

  min-height: 300px;
  max-width: 1200px;
}

.call-to-action-front {
  display: block;
  margin: 200px auto;
  background-color: var(--main-color-blue);
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 20px 37px;
  max-width: 250px;
  min-width: 150px;
  text-align: center;
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
}

.call-to-action-front a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.call-to-action-front:hover {
  background-color: #23778c;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 100%);
}

/* Jackets */

.jackets-content {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
}

.products {
  position: relative;
  text-align: center;
  color: white;
  background-color: whitesmoke;
}

.jacket-pictures {
  max-width: 300px;
  max-height: 500px;
}

.background-color-jackets {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(10, 54, 65, 0.8);
}

.products:hover .background-color-jackets{
  background-color: #23778c;
}

.price,
.product-name {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.price {
  font-weight: bold;
  color: greenyellow;
}

.old-price {
  display: inline-block;
  font-size: 0.8em;
  text-decoration: line-through;
  color: white;
}

.proceed-to-checkout {
  display: block;
  margin: 20px auto;
  background-color: green;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 20px 37px;
  max-width: 250px;
  max-height: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px rgb(255, 255, 255);
  border: solid white;
}

.proceed-to-checkout:hover {
  background-color: white;
  color: green;
  border: solid green;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 100%);
}



/* Inspiration */
.inspiration-content {
  padding: 20px;
}

.inspiration-content p {
  margin: 0px 0px 70px 0px;
}

.inspiration-content img {
  max-width: 1200px;
}

.form-wrapper {
  display: flex;
  text-align: left;
  flex-direction: column;

}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Contact us */

.contact-us {
  padding: 20px;
  margin-top: 100px;
}

.contact-us img {
  display: none;
}


input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  width: 90%;
}

textarea {
  min-height: 400px;
}


.button-contact {
  display: block;
  background: green;
  color: white;
  width: 280px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
  text-transform:uppercase;
}

.button-contact:hover {
  background-color: white;
  color: green;
  border: solid 1px;
  border-color: green;
}

.formError {
  display: none;
  color:red;
  font-size: 1rem;
  text-align: left;
}

.success {
  text-align: center;
  color: green;
  font-size: 1.5rem;
  display: none;
}

#subject {
  font-family: "verdana", serif;
}




/* Product page */

.productpage {
  padding: 20px;
  margin-top: 100px;
}

.price-cta-section p {
  font-family: "museo-slab";
  font-size: 6em;
  font-weight: 800;
  color: green;
  margin: 0px;
}

.price-cta-section,
.contact-us-content {
  text-align: center;
}

#size {
  border: var(--main-color-blue);
  border-style: solid;
  width: 150px;
  text-align: center;
}

.product-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px;
}

.product-header p {
  margin: 15px ;
}

.jacket-title {
  width: 40%;
}

.jackets {
  display: flex;
  flex-direction:column;
  left: 20px;
  justify-self: center;
}


.jacket img {
  max-width: 200px;
  margin: 0;
}


/* Checkout Page */

.checkout-page {
  min-height: 95vh;
  padding-top: 100px;
  display: block;
  text-align: center;
}

.products-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
} 

.clear_cart {
  display: block;
  font-family: "museo-slab", serif;
  background-color: #ff8e26;
  color: var(--main-color-blue);
  font-size: 0.7em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 34px;
  max-width: 100px;
  max-height: 50px;
  border: var(--main-color-blue);
  border-style: solid;
  text-align: center;
  margin: 20px auto;
  }

 .order {
   display: block;
   font-family: "museo-slab", serif;
   font-size: 1.7rem;
   margin: auto;
   background-color: green;
   color: #ffffff;
   text-transform: uppercase;
   border-radius: 20px;
   padding: 20px 20px;
   max-width: 250px;
   text-align: center;
   border: solid var(--main-color-blue);
 }

 .order:hover {
  background-color: white;
  color: green;
 }

 .clear_cart:hover {
   background-color: white;
   color: var(--main-color-blue);
 }

 .checkout_buttons{
   margin: 40px 20px 40px 20px;
   display: none;
 }

 .jacket-total{
   margin: 40px 20px 40px 20px;
 }

 .price-jacket {
   font-weight: bold;
 }

 .totalsum {
   font-weight: bold;
 }

/* Media queries */

@media (min-width: 600px) {
  h1,
  .bottom-text {
    grid-column: -1/1;
  }

  .main-page-content,
  .jackets-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .main-page-images {
    grid-column: 2;
  }

  .contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
  }

  .contact-us img {
    display: table-row;
    padding-top: 10px;
    max-width: 470px;
  }

  .productpage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
  }
}

@media (min-width: 886px) {
  main {
    font-size: 20px;
  }

  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 800;
  }

  nav {
    display: contents!important;
    position: static;
    margin: 0;
    background: #ffffff;
    width: 0;
    height: 0;


  }

  nav li {
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
  }

  nav ul {
    margin: 0;
  }


  .fa-bars {
    display: none!important;
  }

  .front-section {
    min-height: 600px;
  }

  .fa-shopping-cart {
    margin-right:65px;

  }

  .proceed-to-checkout {
    margin: auto;
  }
}
